body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(29, 2, 92);
}
.main{
   /* margin-left: 25%; */
   margin-top: 5%;
}
.todo-grid,.todo-input-grid,.js-delete-button{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
    /* padding-left: 100px; */
    /* padding-right: 100px; */
}
.js-delete-button{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
}
.todo-input-grid{
    margin-bottom: 10px;
    align-items: stretch;
}
.js-name-input,.js-date-input{
    font-size: 18px;
    padding: 6px;
}
.add-todo{
    background-color: green;
    color: white;
    border: none;
    font-size: 120%;
    cursor: pointer;
    border-radius: 10px;
}
.js-delete-button
{
    background-color: darkred;
    color: white;
    border: none;
    font-size: 120%;
    cursor: pointer;

    padding-top: 6px;
    padding-bottom: 6px;
}
.js-todo-list{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    color: azure;
}
